<a href="https://colab.research.google.com/github/AlyssonBatista/Codigos-python/blob/main/Classificador_de_vinhos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classificador de vinhos

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesClassifier

arquivo = pd.read_csv('wine_dataset.csv')

In [5]:
arquivo.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

In [16]:
arquivo['style'] = arquivo['style'].replace('red',0)

In [17]:
arquivo['style'] = arquivo['style'].replace('white',1)

#### Separando as variáveis entre preditoras e variável alvo

In [8]:
y = arquivo['style']
x = arquivo.drop('style',axis = 1)

#### Criando conjunto de dados de treino e teste

In [10]:
x_treino,x_teste,y_treino,y_teste = train_test_split(x,y,test_size =0.3)

#### Criação do modelo:

In [20]:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)

ExtraTreesClassifier()

#### Imprimindo resultados

In [22]:
resultado = modelo.score(x_teste,y_teste)
print('Acurácia', resultado)

Acurácia 0.9948717948717949

In [23]:
y_teste[400:403]

4765    1
2738    1
582     0
Name: style, dtype: int64

In [24]:
x_teste[400:403]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
4765            5.2              0.34         0.37  ...       0.41     12.5        6
2738            9.0              0.31         0.49  ...       0.34     11.5        5
582            11.7              0.49         0.49  ...       0.43      9.2        5

[3 rows x 12 columns]

In [27]:
previsoes = modelo.predict(x_teste[400:403])

In [28]:
previsoes

array([1, 1, 0])