<a href="https://colab.research.google.com/github/AlyssonBatista/Codigos-python/blob/main/Dataframe_cria%C3%A7%C3%A3o_e_identa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataframe criação e identação

In [1]:
import numpy as np
import pandas as pd

In [10]:
dados = np.array([[323,232,332],[344,575,886],[764,898,943]])
dados

array([[323, 232, 332],
       [344, 575, 886],
       [764, 898, 943]])

In [11]:
df=pd.DataFrame(data=dados,columns=['Peso','altura','idade'])
df

   Peso  altura  idade
0   323     232    332
1   344     575    886
2   764     898    943

#### Indexação

In [12]:
df['altura'] # acessando uma coluna

0    232
1    575
2    898
Name: altura, dtype: int64

In [15]:
df.loc[0] # acessando uma linha

Peso      323
altura    232
idade     332
Name: 0, dtype: int64

In [18]:
df['altura'][1] # acesando um elemento específico no dataframe

575

In [19]:
df.loc[1]['altura'] # Outra forma de acessar um elemento específico no dataframe

575

In [20]:
df[['altura','Peso']] # acessando mais de duas colunas no dataframe

   altura  Peso
0     232   323
1     575   344
2     898   764

In [23]:
df.iloc[2][1] # Acessando os elementos considerando os indicies como números

898