<a href="https://colab.research.google.com/github/AlyssonBatista/Codigos-python/blob/main/Introdu%C3%A7%C3%A3o_biblioteca_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# introdução a bibbliteca pandas

In [2]:
import numpy as np
import pandas as pd

#### Series

In [3]:
steps = pd.Series([2344,3454,5064,6545,4565])
steps

0    2344
1    3454
2    5064
3    6545
4    4565
dtype: int64

In [4]:
steps.values

array([2344, 3454, 5064, 6545, 4565])

In [5]:
steps.index # começa em 0 para em 5 com passo 1

RangeIndex(start=0, stop=5, step=1)

In [6]:
from pandas._libs import index
steps = pd.Series(data=[2344,3454,5064,6545,4565],index=['seg','ter','qua','qui','sex']) # altero os índicies da dos dados

steps

seg    2344
ter    3454
qua    5064
qui    6545
sex    4565
dtype: int64

In [7]:
steps.describe()

count       5.000000
mean     4394.400000
std      1596.170511
min      2344.000000
25%      3454.000000
50%      4565.000000
75%      5064.000000
max      6545.000000
dtype: float64