<a href="https://colab.research.google.com/github/AlyssonBatista/Codigos-python/blob/main/Principais_comandos_em_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>




# Comandos básicos em python

In [10]:
A = 10
print('A primeira forma de imprimir uma variável:',A)
print(f'A segunda forma de imprimir uma variável {A}')
print('A terceira forma de imprimir uma variável: %d' %A)

A primeira forma de imprimir uma variável: 10
A segunda forma de imprimir uma variável 10
A terceira forma de imprimir uma variável: 10

####Ordem de procedência de operadores

- Parêntesis mais interno
- Exponênciação
- Multiplicação
- Soma e subtração

In [13]:
import math

B=64

print(math.sqrt(B))
print(math.log(B))

8.0
4.1588830833596715

### ***If else*** e ***elif***

In [36]:
nota1 = float(input())
nota2 = float(input())

media = (nota1 + nota2)/2
if media >=7:
    print(f'Você foi aprovado com media: {media}')
elif media >=5 and media <7:
    print(f'Você está na final com media:{media}')
else:
    print(f'Você está reprovado com média: {media}')

1
9
Você está na final com media:5.0

### ***while*** e ***for***

In [43]:
for i in range(6): # Com 1 parâmentro ele varre de 0 até 4.
    print(i)

0
1
2
3
4
5

In [44]:
for i in range(2,6): # Com 2 parâmetros ele varre de 2 até 6.
    print(i)

2
3
4
5

In [50]:
for i in range(2,6,2):# Com 3 parâmetros ele varre de 2 até 6 com passo 2
    print(i)          # O ULTIMO NÚMERO NÃO É INCLUIDO

2
4

In [52]:
num=0
while num != -1:
    print(num)
    num = int(input('Digite um número: \n'))

0
Digite um número:
1
1
Digite um número:
-1

In [76]:
notas = 0
while notas <= 6:
    print(notas)
    notas = notas + 1

0
1
2
3
4
5
6

### ***listas***

In [80]:
lista_1 = []
lista_2 = [1,2,3]
lista_3 = ['Alysson ',30,2022,"ifpb"]
lista_4 = [['Batista ', 30],['Souza',30]]
soma = lista_2 + lista_3 # concatena as listas
print(soma)
len(lista_3)

[1, 2, 3, 'Alysson ', 30, 2022, 'ifpb']

4

In [99]:
print('Alysson' in lista_3)
print('Alysson ' in lista_3)
print('joão' in lista_4)

False
True
False

In [98]:
numeros = [1,2,3,4.5,6,7,8.4]
print(min(numeros))
print(max(numeros))
print(sum(numeros))

1
8.4
31.9

## Métodos importantes para usar nas listas

In [142]:
casa = [1,2,4,5,6,7,8,9,10]
casa.append(10) # adiciona um elemento ao final da lista
print(casa)

[1, 2, 4, 5, 6, 7, 8, 9, 10, 10]

In [143]:
casa.count(10) # contas quantas vezes determinados elementos aparecem na lista

2

In [144]:
casa.insert(2,3) # insere um elemento ápos o elemento 2 
print(casa)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [145]:
casa.remove(10) # remove um elemento
print(casa)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [146]:
casa.reverse() # Reverte a lista
print(casa)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [147]:
casa.sort() # reordena a lista do menor para o maior
print(casa)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [148]:
casa.sort(reverse = True) # reordena a lista do maior para o menor
print(casa)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

###  ***Funções***

In [152]:
def saudacao():
    nome = str(input('Qual o seu nome:\n'))
    print(f"olá {nome} ")
saudacao()

Qual o seu nome:
Alyson
olá Alyson

In [150]:
def aluno(nome, idade):
    print(f'O nome do aluno é {nome} e sua idade é {idade}')

aluno('Alysson',30)
aluno("carlos",34)

O nome do aluno é Alysson e sua idade é 30
O nome do aluno é carlos e sua idade é 34

In [157]:
def areaRetangulo(base,altura):
    area = base*altura
    return area

area = areaRetangulo(10,4)
print(area)

40

In [158]:
def are_ret_tri(base,altura):
    area_ret = base*altura
    area_tri = (base*altura)/2
    return [area_ret,area_tri]

area = are_ret_tri(8,5)

print(f"A área do triangulo é {area[1]}")
print(f'A área do retangulo é {area[0]}')

A área do triangulo é 20.0
A área do retangulo é 40

In [ ]:
asa